<div class="picture">
     <ul class="nav nav-tabs nav-list nav-stacked">
		<li class="nav-header">Top places with Properties</li>
		<li><a href="/">Home</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Applications</a></li>

		<li><a href="#">Profile</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="#">Help</a></li>
		<li><a href="/">Home</a></li>
		<li><a href="#">Library</a></li>
		<li><a href="#">Applications</a></li>

		<li><a href="#">Profile</a></li>
		<li><a href="#">Settings</a></li>
		<li><a href="#">Help</a></li>
	</ul>

</div>
