 <div class="row">
                            <div class="span3">
                                <div class="picture">
                                 <ul class="nav nav-tabs nav-list nav-stacked">
									<li class="nav-header">Top places with Properties</li>
									<li><a href="/">Home</a></li>
									<li><a href="#">Library</a></li>
									<li><a href="#">Applications</a></li>

									<li><a href="#">Profile</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#">Help</a></li>
									<li><a href="/">Home</a></li>
									<li><a href="#">Library</a></li>
									<li><a href="#">Applications</a></li>

									<li><a href="#">Profile</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#">Help</a></li>
								</ul>

                                </div>
                            </div>
                            <div class="span9">
                              
                            <div class="row">
                            	<div class="span6">
                            		<div id="myCarousel" class="carousel slide">
										<!-- Carousel items -->
										<div class="carousel-inner">
											<div class="active item">
												<%= image_tag( "images_1.jpg") %>
											</div>
											<div class="item">
												<%= image_tag( "images_1.jpg") %>
											</div>
											<div class="item">
												<%= image_tag( "images_2.jpg") %>
											</div>
										</div>
										<!-- Carousel nav 
										<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
										<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->

									</div>
	                            </div>
	                            <div class="span3">
	                                <div class="picture"><img src="images/IMG_20131002_170821_1.jpg" alt="">
	                                <div class="image-overlay-zoom"></div></a></div>
	                                <div class="item-description">
	                                    <h5><a href="#">Rocks</a></h5>
	                                    <p>Rocks and an artificial water body</p>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="span3">
                                <div class="picture"><img src="images/IMG_20131007_110529.jpg" alt="massitti">
                                <div class="image-overlay-zoom"></div></div>
                                <div class="item-description">
                                    <h5><a href="#">Image Title</a></h5>
                                    <p>Description of the Image</p>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="picture">
                                    <img src="images/pots (2).jpg" alt="">
                                        <div style="opacity: 0; display: block;" class="image-overlay-zoom"></div></a></div>
                                <div class="item-description">
                                    <h5><a href="#">Image Title</a></h5>
                                    <p>Description of the Image</p>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="picture"><img src="images/rock spit.jpg" alt=""><div style="opacity: 0; display: block;" class="image-overlay-zoom"></div></a></div>
                                <div class="item-description">
                                    <h5><a href="#">Image Title</a></h5>
                                    <p>Description of the Image</p>
                                </div>
                            </div>

                            
                            
                        </div>
                        


